@import "../../scss/base";

header .shop-cart .item {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;

  &-image {
    display: block;
    width: 70px;
    overflow: hidden;
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &-text {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;  
  }

  & h2 {
    font-size: 20px;
  }

  & b{
    color: $color-dark-grey;
    font-weight: 300;
  }

  & .icon-delete {
    color: $color-orange;
    cursor: pointer;
    transition: transform 500ms ease;

    &:hover {
      color: $color-button-active;
      transform: scale(1.5)
    }
  }
}

header .shop-cart .empty h2{
  font-size: 20px;
  margin-bottom: 20px;
}
