@import "../../scss/base";

.count {
    display: flex;
    column-gap: 2px;
    align-items: center;
    padding: 10px 0;
}

.count-input {
	max-width: 30px;
	background-color: transparent;
    text-align: center;
    font-weight: 600;
	font-size: 15px;
    border: none;
}

.count-controls {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.count-controls svg {
    fill: $color-dark;
    width: 20px;
}
